body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("Backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#mainWrapper {
    width: 100%;
    background-color: transparent;
}


/*HEADER SOM INNEHOLDER EN LOGO OG MENY VALG*/

#header {
    
    position: fixed;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    color: white;
    
}
/*lOGO MED BORDER SOM SKAPER EN FIRKANT RUNDT ELEMENTENE*/
#logo {
    border: 1px solid white;
    position: relative;
    padding: 0;
    margin:auto;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    
}
/*ELEMENTER I LOGOEN*/
#ts {
    padding: 0;
    margin:0;
    font-size: 60px;
    line-height: 45px;
    margin-top: 10px;
    
}

#design {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 10px;
    margin-bottom: 10px;
}

/*DROP-DOWN MENY MED ICON OG MENY-VALG*/
#meny {
    border-top: 1px solid white;
    margin-top: 10px;
    text-align: center;
    
}

#icon {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 60px;
    font-size: 50px;
}

.fa-caret-down:before {
    
    left: 0;
    position: relative;
    top: -15px
}

.fa-caret-down:hover{
    
    color: grey;
}

/* DROP-DOWN MENY. MENY VALG*/
.menyContent {
    padding-top: 20px;
    text-align: center;
    position: relative;
    display: none;
    z-index: 2;
    width: 150px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;   
}

.arrowDisplay { /*ONCLICK CHANGES*/
    padding-top: 20px;
    display:block;
    padding-top: 5px;
    z-index: 2;
 }

#menyValg a {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    width: 70px;
    margin: 0 auto;  
    padding-top: 10px;
}

#menyValg a:hover {
    text-decoration: line-through;
}

/*MAIN ER DIVEN SOM INNEHOLDER ALT AV CONTENT PÅ SIDEN 
SOM IKKE ER DIVEN "HEADER" DVS MainContent OG footer*/

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 'mainContent' 'footer';
    position: relative;
    margin: 0;
    padding: 0;
    background-color:transparent;
    height: 100vh;
    padding-top: 150px;
    color: white;
}

#mainContent {
    margin: 0 auto;
    width: 75%;
    height: 600px;
    margin-top: 200px;
    padding: 0;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
}
/*BILDE-SLIDE, MED 3 FORSKJELLIG VALG AV BILDETYPER*/
#bildeContainer {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bilder {
    background-color: coral;
    width: 100%;
    height: 525px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    
}
#bildeKategori {
    font-size: 20px;
    color: white;
    z-index: 0;
    border-bottom: 1px solid white;
}

.bildeBilde {
    max-width: 100%;
    
}   


#bilderValg {
    color: white;
    border-top: 1px solid white;
    display: flex;
    text-align: center;
    
}

#filter1, #filter2, #filter3, #filter4, #filter5 {
    width: 100%;
    position: relative;
    height: 52px;
    line-height: 52px;
}
#filter1, #filter2, #filter3, #filter4 {
    border-right: 1px solid white;
}
#footer {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;

}

#footer h1, p {
    padding: 0;
    margin: 0;

}
#footer h1 {
    font-size: 20px;
}
